In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('dataset/stratified_sample.csv')
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1218618,Source2,3,2020-12-22 18:50:42,2020-12-22 19:37:26,37.611450,-79.602432,NaN,NaN,0.00,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-1563044,Source2,2,2020-04-23 07:52:23,2020-04-23 08:22:07,41.849449,-73.557213,NaN,NaN,0.00,...,False,False,False,False,True,False,Day,Day,Day,Day
2,A-2603389,Source2,2,2018-09-24 06:08:36,2018-09-24 06:53:23,32.707081,-96.952507,NaN,NaN,0.00,...,False,False,False,False,True,False,Night,Night,Night,Day
3,A-1047423,Source2,2,2021-05-13 16:58:58,2021-05-13 17:58:08,38.435547,-104.606674,NaN,NaN,5.67,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-348869,Source2,2,2017-03-13 05:27:46,2017-03-13 05:57:33,34.040321,-117.926582,NaN,NaN,0.01,...,False,True,False,False,False,False,Night,Night,Night,Night

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77283 entries, 0 to 77282
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     77283 non-null  object
 1   Source                 77283 non-null  object
 2   Severity               77283 non-null  int64
 3   Start_Time             77283 non-null  object
 4   End_Time               77283 non-null  object
 5   Start_Lat              77283 non-null  float64
 6   Start_Lng              77283 non-null  float64
 7   End_Lat                43290 non-null  float64
 8   End_Lng                43290 non-null  float64
 9   Distance(mi)           77283 non-null  float64
 10  Description            77283 non-null  object
 11  Street                 77162 non-null  object
 12  City                   77281 non-null  object
 13  County                 77283 non-null  object
 14  State                  77283 non-null  object
 15  Zipcode                77264 non-null  object
 16  Country                77283 non-null  object
 17  Timezone               77196 non-null  object
 18  Airport_Code           77057 non-null  object
 19  Weather_Timestamp      76087 non-null  object
 20  Temperature(F)         75632 non-null  float64
 21  Wind_Chill(F)          57458 non-null  float64
 22  Humidity(%)            75533 non-null  float64
 23  Pressure(in)           75866 non-null  float64
 24  Visibility(mi)         75494 non-null  float64
 25  Wind_Direction         75536 non-null  object
 26  Wind_Speed(mph)        71683 non-null  float64
 27  Precipitation(in)      55511 non-null  float64
 28  Weather_Condition      75510 non-null  object
 29  Amenity                77283 non-null  bool
 30  Bump                   77283 non-null  bool
 31  Crossing               77283 non-null  bool
 32  Give_Way               77283 non-null  bool
 33  Junction               77283 non-null  bool
 34  No_Exit                77283 non-null  bool
 35  Railway                77283 non-null  bool
 36  Roundabout             77283 non-null  bool
 37  Station                77283 non-null  bool
 38  Stop                   77283 non-null  bool
 39  Traffic_Calming        77283 non-null  bool
 40  Traffic_Signal         77283 non-null  bool
 41  Turning_Loop           77283 non-null  bool
 42  Sunrise_Sunset         77051 non-null  object
 43  Civil_Twilight         77051 non-null  object
 44  Nautical_Twilight      77051 non-null  object
 45  Astronomical_Twilight  77051 non-null  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 20.4+ MB

In [16]:
df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

#### Drop Unwanted Columns

In [17]:
columns_to_drop = ['ID','Description','Street','City','County','State','Zipcode','Country','Source','Amenity','Bump','Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
    'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal','Turning_Loop', 'Timezone' , 'Airport_Code']

df = df.drop(columns=columns_to_drop)

In [21]:
df.columns

Index(['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight'],
      dtype='object')

In [27]:
df.tail()

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Weather_Timestamp,Temperature(F),...,Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
77278,3,2019-03-20 18:51:14,2019-03-20 19:20:16,42.341750,-83.067500,42.339170,-83.066330,0.188,2019-03-20 18:53:00,41.0,...,30.03,10.0,SSE,8.1,0.0,Overcast,Day,Day,Day,Day
77279,2,2019-03-20 19:59:28,2019-03-20 20:29:04,25.793190,-80.321140,25.796740,-80.320810,0.246,2019-03-20 19:53:00,70.0,...,29.96,10.0,NE,9.2,NaN,Partly Cloudy,Night,Night,Day,Day
77280,4,2019-03-20 14:02:30,2019-03-20 14:30:56,45.374834,-122.319858,45.378579,-122.291981,1.378,2019-03-20 13:53:00,66.9,...,29.83,10.0,East,24.2,NaN,Clear,Day,Day,Day,Day
77281,2,2019-03-21 15:37:45,2019-03-21 16:06:16,38.706970,-77.223000,38.737846,-77.191473,2.728,2019-03-21 15:36:00,46.4,...,29.70,2.8,WNW,5.8,NaN,Heavy Rain,Day,Day,Day,Day
77282,2,2019-03-21 20:50:34,2019-03-21 21:19:05,40.837340,-73.880070,40.838080,-73.881680,0.098,2019-03-21 20:51:00,42.1,...,29.77,6.0,NE,17.3,0.0,Light Rain,Night,Night,Night,Night

In [20]:
df.dtypes

Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [29]:
df.isnull().sum()

Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                  33993
End_Lng                  33993
Distance(mi)                 0
Weather_Timestamp         1196
Temperature(F)            1651
Wind_Chill(F)            19825
Humidity(%)               1750
Pressure(in)              1417
Visibility(mi)            1789
Wind_Direction            1747
Wind_Speed(mph)           5600
Precipitation(in)        21772
Weather_Condition         1773
Sunrise_Sunset             232
Civil_Twilight             232
Nautical_Twilight          232
Astronomical_Twilight      232
dtype: int64

In [30]:
# Removind 'End_lat', 'Eng_lag' and 'Precipitation(in)' as there are too many null values, may not add value
df = df.drop(columns=['End_Lat', 'End_Lng', 'Precipitation(in)'])
df.columns

Index(['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'Distance(mi)', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Weather_Condition', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight'],
      dtype='object')

In [ ]:
# convert start_Time to float64
# convert End_time to float64
# convert Weather_Timestamp to float64
# convert Wind_Direction column to numeric from categorical
# convert Weather_Condition column to numberic from categorical
# convert Sunrise_Sunset , Civil_Twilight, Nautical_Twilight, Astronomical_Twilight